main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.card-container {
    padding: 5px;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 300px;
    box-shadow: 5px 10px 1px 1px #9f8b38;
    border: solid 1px red;
    border-radius: 10px;
}

div.card-container:hover {
    background-color: aqua;
    transform: scale(1.2);
}

a {
    text-decoration: none;
}
div.header-card {
    display: flex;
    width: 100%;
    justify-content: space-between;

    
}

